{% extends '::base.html.twig' %}
{% block libraryAddingMenuItemAttr %}class="active"{% endblock %}
{% form_theme form _self %}
{% block body %}
    <div id="register-box" class="container" style="width: 300px;">
        <div class="progress progress-striped">
            <div class="bar" style="width: {% block progressCurrency %}0{% endblock %}"></div>
        </div>

        <form method="post" {{ form_enctype(form) }}>
            <fieldset>
                <legend>
                    <h3>{{ flow.getStep(flow.getCurrentStepNumber).getLabel }}</h3>
                </legend>
                {% include 'CraueFormFlowBundle:FormFlow:stepField.html.twig' %}

                {{ form_widget(form) }}
                {{ form_rest(form) }}

                {% block step3 %}{% endblock %}

                <hr>
                {% include '::Library/add/stepButtons.html.twig' %}
            </fieldset>
        </form>
    </div>
{% endblock body %}
