{% extends '::Library/add.html.twig' %}

{% block step2Label %}badge badge-info{% endblock %}
{% block progressCurrency %}100%{% endblock %}
{% block step3 %}
    <p><b>GitHub url: </b>{{ form.vars.value.githubUrl }}</p>
    <p><b>Name: </b>{{ form.vars.value.shortName }}</p>
    <p><b>Description: </b>{{ form.vars.value.description }}</p>
    <p><b>Category: </b>{{ form.vars.value.category.name }}</p>
{% endblock %}