<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}PHPLIBRARIES.COM – Open Source solutions for PHP development{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('/bootstrap/css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('/bootstrap/css/bootstrap-responsive.css') }}">
        <link rel="stylesheet" href="/templates/smart_v1_0_5_html/css/style.css">
        <link rel="stylesheet" type="text/css"
              href="{{ asset('bundles/bmatznerfontawesome/css/font-awesome.min.css') }}"/>
        <!--[if IE 7]>
        <link rel="stylesheet" href="{{ asset('bundles/bmatznerfontawesome/css/font-awesome-ie7.min.css') }}">
        <![endif]-->
        <link rel="stylesheet" type="text/css" href="/custom/css/style.css"/>
        <link href='http://fonts.googleapis.com/css?family=Days+One|Oxygen' rel='stylesheet'>
    {% endblock %}
    {% block javascripts %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="/bootstrap/js/bootstrap.min.js"></script>
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
<header>
    <div class="container">
        <div class="navbar">
            <div class="navbar-inner">
                <a class="brand" href="{{ path('main.index') }}"><h3>PHPLIBRARIES.COM</h3></a>
                <div>
                    <ul class="nav">
                        <li {% block mainMenuItemAttr %}{% endblock %}>
                            <a href="{{ path('main.index') }}">Home</a>
                        </li>
                        <li {% block libraryAddingMenuItemAttr %}{% endblock %}>
                            <a href="{{ path('library.create') }}">Add library</a>
                        </li>
                        <li>
                            {% if app.user %}
                                <a href="{{ path('logout') }}"><b>{{ app.user.username }}</b> logout </a>
                            {% else %}
                                <a href="{{ path('hwi_oauth_service_redirect',{'service': 'github' }) }}">Login via
                                    GitHub</a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>

{% if app.request.attributes.get('_route') != 'main.index' %}
    <div id="page-title">
        <div id="page-title-inner">
            <div class="container">
                <h3 style="color: #ffffff;">{% block pageTitle %}{% endblock %}</h3>
            </div>
        </div>
    </div>
{% else %}
    <hr>
{% endif %}

<div id="wrapper">
    <div class="container">
        {% block body %}{% endblock %}
    </div>
</div>
</body>
</html>
