{% extends '::base.html.twig' %}
{% block body %}
    <h2><a href="{{ path('admin.category.index') }}">Category</a></h2>
    <h2><a href="{{ path('admin.library.index') }}">Library</a></h2>
{% endblock %}