{% extends '::base.html.twig' %}
{% block body %}
    {% if error %}
        <div class="alert alert-error">
            {{ error.message }}
            <button type="button" class="close" data-dismiss="alert">×</button>
        </div>
    {% endif %}

    <form action="{{ path('admin.login_check') }}" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}">

        <label for="password">Password:</label>
        <input type="password" id="password" name="_password">
        <br>
        <input type="submit" value="Login">
    </form>
{% endblock %}
