{% extends '::base.html.twig' %}
{% block body %}
    <div>
        <a href="{{ path('admin.index') }}"><i class="ico-left-arrow"></i></a>
        <a href="{{ path('admin.category.add') }}"><i class="ico-circle-plus"></i></a>
    </div>
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="label label-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    <table class="table">
        {% for category in categories %}
            <tr>
                <td><h3>{{ category.name }}</h3></td>
                <td>
                    <a href="{{ path('admin.category.update', {'id': category.id}) }}"><i class="mini-ico-pencil"></i></a>
                    <a href="{{ path('admin.category.delete', {'id': category.id}) }}"><i class="mini-ico-trash"></i></a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
