{% extends '::base.html.twig' %}
{% block body %}
    <div>
        <a href="{{ path('admin.category.index') }}"><i class="ico-left-arrow"></i></a>
    </div>
    <form action="{{ path('admin.category.update', {'id': id}) }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <input type="submit" value="Go">
    </form>
{% endblock %}
