    {% if flow.getCurrentStepNumber > 1 %}
        <button type="submit" class="btn btn-primary" name="{{ flow.getFormTransitionKey() }}" value="back" formnovalidate="formnovalidate">
            back
        </button>
    {% endif %}

    <button type="submit" class="craue_formflow_button_last btn btn-primary">
        {% if flow.getCurrentStepNumber() < flow.getLastStepNumber() %}
            {{ 'next' }}
        {% else %}
            {{ 'finish'}}
        {% endif %}
    </button>

    <button type="submit" class="craue_formflow_button_first btn btn-primary" name="{{ flow.getFormTransitionKey() }}" value="reset" formnovalidate="formnovalidate">
        {{ 'reset'}}
    </button>
