{% extends '::base.html.twig' %}
{% block mainMenuItemAttr %}class="active"{% endblock %}
{% block body %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="label label-success">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {{ flashMessage }}
        </div>
    {% endfor %}
    <div class="row">
        {% for category in categories %}
            <div class="span4">
                <h3>
                    <a href="{{ path('main.category', {id: category['category'].id}) }}">
                        {{ category['category'].name }}
                        <span class="badge">{{ category['countLibraries'] }}</span>
                    </a>
                </h3>
            </div>
        {% endfor %}
    </div>
{% endblock %}
