{% extends '::base.html.twig' %}
{% set librariesNumber = libraries|length %}
{% block pageTitle %}{{ category.name }}{% endblock %}
{% block body %}
    {% if librariesNumber > 0 %}
        <div id="portfolio-wrapper" class="row isotope" style="position: relative; overflow: hidden; height: 1435px;">
            <div class="span4">
                <h3>Libraries: {{ librariesNumber }}</h3>
            </div>
            <hr>
            {% for library in libraries %}
                <div class="span3">
                    <h3>
                        <a href="{{ library.githubUrl }}">{{ library.shortName }}</a>
                    </h3>

                    <p class="library-description">{{ library.description }}</p>

                    <div class="post-meta">
                        {% if library.githubStatistic %}
                            <i class="icon-star icon-large"></i> {{ library.githubStatistic.watchers }}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <h3>Libraries not found.</h3>
    {% endif %}
    <script src="//jtruncate.googlecode.com/svn/trunk/jquery.jtruncate.pack.js"></script>
    <script src="/custom/js/truncate-text.js"></script>
{% endblock %}
