{% extends '::base.html.twig' %}
{% block body %}
    <div>
        <a href="{{ path('admin.index') }}"><i class="ico-left-arrow"></i></a>
        <a href="{{ path('admin.library.add') }}"><i class="ico-circle-plus"></i></a>
    </div>
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="label label-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    <table class="table">
        {% for library in libraries %}
            <thead>
            <tr>
                <th><h3>{{ library.shortName }}</h3></th>
                <td>
                    <a href="{{ path('admin.library.update', {'id': library.id}) }}"><i class="mini-ico-pencil"></i></a>
                    <a href="{{ path('admin.library.delete', {'id': library.id}) }}"><i class="mini-ico-trash"></i></a>
                </td>
            </tr>
            </thead>
        {% endfor %}
    </table>
{% endblock %}
